/* App wide manual styles can be defined here */

.App-logo-big {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-big {
    animation: App-logo-big-spin infinite 20s linear;
  }
}

@keyframes App-logo-big-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
